Xamarin4AspNetDevs/.vs/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.Android/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.iOS/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.UWP/bin/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.UWP/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs/bin/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs/obj/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism.Android/obj/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism.iOS/obj/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism.UWP/obj/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism/bin/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism/obj/
Xam4AspNetPrism/Xam4AspNetPrism/Xam4AspNetPrism.Android/bin/
Xam4AspNetPrism/.vs/
Xam4AspNetPrismConsumingApi/.vs/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism.Android/bin/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism.Android/obj/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism.UWP/obj/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism/bin/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism/obj/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrism/Xam4AspNetPrism.iOS/obj/
Xam4AspNetPrismConsumingApi/Xam4AspNetPrismConsumingApi/obj/
ZoomImages/.vs/
ZoomImages/ZoomImages/obj/
ZoomImages/ZoomImages/bin/
MobileZoomImages/.vs/
MobileZoomImages/MobileZoomImages/MobileZoomImages.Android/bin/
MobileZoomImages/MobileZoomImages/MobileZoomImages.Android/obj/
MobileZoomImages/MobileZoomImages/MobileZoomImages.iOS/bin/
MobileZoomImages/MobileZoomImages/MobileZoomImages.iOS/obj/
MobileZoomImages/MobileZoomImages/MobileZoomImages/bin/
MobileZoomImages/MobileZoomImages/MobileZoomImages/obj/
ZoomImages/ZoomImages/WebZoomImages.csproj.user
