Xamarin4AspNetDevs/.vs/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.Android/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.iOS/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.UWP/bin/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs.UWP/obj/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs/bin/
Xamarin4AspNetDevs/Xamarin4AspNetDevs/Xamarin4AspNetDevs/obj/
